<div id = "personal">
    <mat-grid-list cols="4" rowHeight="60em" gutterSize="1em">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" style="background-image: url('../assets/cristian.png');"></div>
                  <mat-card-title>Cristian Guillermo Serrano Acevedo</mat-card-title>
                  <mat-card-subtitle>Universidad Industrial de Santander</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/cristian.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-icon-button aria-label="Facebook">
                    <mat-icon><img src="https://img.icons8.com/material/50/000000/facebook-new.png" width="100%"></mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Twitter">
                    <mat-icon><img src="https://img.icons8.com/material/24/000000/twitter-squared.png" width="100%"></mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" style="background-image: url('../assets/GardenStats.png');"></div>
                  <mat-card-title>Liliana Paola Castellanos Pinzón</mat-card-title>
                  <mat-card-subtitle>Universidad Industrial de Santander</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-icon-button aria-label="Facebook">
                    <mat-icon><img src="https://img.icons8.com/material/50/000000/facebook-new.png" width="100%"></mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Twitter">
                    <mat-icon><img src="https://img.icons8.com/material/24/000000/twitter-squared.png" width="100%"></mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" style="background-image: url('../assets/alvaro.jfif');"></div>
                  <mat-card-title>Alvaro Luis Rios Garzón</mat-card-title>
                  <mat-card-subtitle>Universidad Industrial de Santander</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../assets/alvaro.jfif" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-icon-button aria-label="Facebook">
                    <mat-icon><img src="https://img.icons8.com/material/50/000000/facebook-new.png" width="100%"></mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Twitter">
                    <mat-icon><img src="https://img.icons8.com/material/24/000000/twitter-squared.png" width="100%"></mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" style="background-image: url('../assets/GardenStats.png');"></div>
                  <mat-card-title>Pedro Alfonso Jimenez Buenahora</mat-card-title>
                  <mat-card-subtitle>Universidad Industrial de Santander</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-icon-button aria-label="Facebook">
                    <mat-icon><img src="https://img.icons8.com/material/50/000000/facebook-new.png" width="100%"></mat-icon>
                  </button>
                  <button mat-icon-button aria-label="Twitter">
                    <mat-icon><img src="https://img.icons8.com/material/24/000000/twitter-squared.png" width="100%"></mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>