<div class="body">
    <div class="login">
        <img src="https://img.icons8.com/material/96/000000/login-rounded-right--v1.png">
    
    <mat-form-field appearance="fill">
        <mat-label>Nombres</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput>
    </mat-form-field>
    <button mat-raised-button>Registrarse</button>
    </div>
</div>