<mat-sidenav-container>
  <mat-sidenav [(opened)] = "opened">
    <img src="assets/GardenStats.png">
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-raised-button>Inicio</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button>Plantas</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button>Agregar crecimiento</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button>Informe estadístico</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-raised-button>Acerda de</button></mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button (click)="opened=!opened">
      Abrir
    </button>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav-content>
</mat-sidenav-container>