<h1></h1>
<button mat-raised-button [matMenuTriggerFor]="menu" class="perro">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click) = "agregarcrecimiento()">Agregar crecimiento</button>
  <button mat-menu-item (click) = "modificarcrecimiento()">Modificar crecimiento</button>
  <button mat-menu-item (click) = "eliminarcrecimiento()">Eliminar crecimiento</button>
</mat-menu>
<div class="formulario">
    <h2>Agregar crecimiento</h2>
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Planta</mat-label>
            <input matInput placeholder="Planta">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Medición</mat-label>
            <input matInput placeholder="Medición" type="number" value="0">
        </mat-form-field>
        <div class="example-button-container">
            <button type="submit" (click) = "crecimiento()" mat-flat-button color="accent" >Guardar</button>
            <hr>
            <button (click) = "crecimiento()" mat-flat-button color="white">cancelar</button>
        </div>
    </form>
</div>
