<h1></h1>
<button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click) = "agregarcrecimiento()">Agregar crecimiento</button>
  <button mat-menu-item (click) = "modificarcrecimiento()">Modificar crecimiento</button>
  <button mat-menu-item (click) = "eliminarcrecimiento()">Eliminar crecimiento</button>
</mat-menu>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
<div class="section container">    
<div class="card-panel grey lighten-4" style="width: 1000px;">
	<table class="highlight centered">
		<thead>
			<tr>
				<th>ID_crecimiento</th>
        <th>ID_planta</th>
				<th>Planta</th>
				<th>Tamaño registrado</th>
			</tr>
		</thead>
        <tbody>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>Tomate</td>
				<td>5</td>
				<td>
                    <button  (click)="modificarcrecimiento()" class="btn btn-info">
		                <i class="material-icons">edit</i>
	                </button>
                    <button (click)="eliminarcrecimiento()" class="btn btn-info" style="margin-left: 50px;">
		                <i class="material-icons">remove</i>
	                </button>
				</td>
			</tr>
      <tr>
				<td>2</td>
				<td>1</td>
				<td>Tomate</td>
				<td>7</td>
				<td>
                    <button  (click)="modificarcrecimiento()" class="btn btn-info">
		                <i class="material-icons">edit</i>
	                </button>
                    <button (click)="eliminarcrecimiento()" class="btn btn-info" style="margin-left: 50px;">
		                <i class="material-icons">remove</i>
	                </button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
	
